.resource-card {
    margin: 8px 0;
    font-size: 1rem;

    .hp,
    .mp,
    .ip {
        margin: 0 auto;
        text-align: center;

        label {
            margin-bottom: 8px;
        }

        input {
            margin: 0 auto;
            width: 6rem;
        }
    }

    .hp,
    .crisis {

        label,
        input[type="text"],
        p {
            color: @health;
        }
    }

    .mp {

        label,
        input,
        p {
            color: @mana;
        }
    }

    .ip {

        label,
        input,
        p {
            color: #3FBF3F;
        }
    }

    i {
        font-size: 1.5rem;
        padding-right: 8px;
    }
}