img.profile-img {
    width: 64px;
    border: none;
}

.trait-labels {
    text-align: center;
}

.resources {
    input {
        width: 2rem;
    }

    .fabula,
    .experience,
    .initiative {
        text-align: center;
    }

    label[for="system.hp.value"],
    input[name="system.hp.value"],
    input[name="system.hp.max"],
    label[for="crisis"],
    p.crisis,
    .hp {
        color: #ff0000;
    }

    label[for="system.mp.value"],
    input[name="system.mp.value"],
    input[name="system.mp.max"],
    .mp {
        color: #0000ff;
    }

    label[for="system.ip.value"],
    input[name="system.ip.value"],
    input[name="system.ip.max"],
    .ip {
        color: #00ff00;
    }

    i {
        font-size: 1.5rem;
        padding-right: 8px;
    }
}

.attributes,
.defenses,
.resistances {
    label,
    p.defense,
    p.mdefense {
        text-align: center;
    }
}

.attributes .attr select {
    margin: 4px 8px;
}

.resistances {
    width: 100%;
    margin: 0 auto;

    img {
        width: 30px;
        height: 30px;
        border: none;
    }

    .flexcol.element-resistance {
        padding: 0 4px;
    }
}

.tab.backpack {
    i {
        padding-right: 8px;
    }

    input {
        width: 6rem;
    }

    input[name="system.zenit"],
    .currency {
        color: #ffff00;
    }

    p.item-name {
        font-weight: bold;
        font-size: 1rem;
    }
}
