.trait-labels {
	text-align: center;
}

.sheet nav.sheet-tabs {
	margin: 0;
}

nav.sheet-tabs {
	background: #d7ffd7;

	a.item {
		width: 100%;
		background: #fce3fc;

		&.active {
			background: #c1c1f3;
		}
	}
}

.resources {
	input {
		width: 2rem;
	}

	label[for="system.hp.value"], input[name="system.hp.value"], input[name="system.hp.max"], label[for="crisis"], p.crisis, .hp {
		color: #ff0000;
	}

	label[for="system.mp.value"], input[name="system.mp.value"], input[name="system.mp.max"], .mp {
		color: #0000ff;
	}

	label[for="system.ip.value"], input[name="system.ip.value"], input[name="system.ip.max"], .ip {
		color: #00ff00;
	}

	i {
		font-size: 1.5rem;
		padding-right: 8px;
	}
}

.class-card {
	background: #fcfaf4;
	border: 1px solid #000000;
}

.tab.backpack {
	i {
		font-size: 1.5rem;
		padding-right: 8px;
	}

	input {
		width: 6rem;
	}

	input[name="system.zenit"], .currency {
		color: #ffff00;
	}
}