img {
    &.damage-type {
        border: 0;
        width: 25px;
        height: 25px;
    }
}

.dice-formula {
    &.critical {
        color: #007e00;
    }

    &.fumble {
        color: #c40303;
    }
}

h4.dice-total {
    .multi {
        font-size: 0.85rem;
    }
}
