img {
	&.damage-type {
		border: 0;
		width: 25px;
		height: 25px;

		&.air {
			filter: invert(56%) sepia(14%) saturate(1830%) hue-rotate(71deg) brightness(105%) contrast(92%);
		}

		&.bolt {
			filter: invert(81%) sepia(9%) saturate(2268%) hue-rotate(24deg) brightness(112%) contrast(113%);
		}

		&.dark{
			filter: invert(10%) sepia(43%) saturate(5052%) hue-rotate(303deg) brightness(81%) contrast(106%);
		}

		&.earth{
			filter: invert(16%) sepia(24%) saturate(7478%) hue-rotate(36deg) brightness(100%) contrast(94%);
		}

		&.fire{
			filter: invert(86%) sepia(27%) saturate(5745%) hue-rotate(339deg) brightness(97%) contrast(100%);
		}

		&.ice {
			filter: invert(86%) sepia(9%) saturate(6660%) hue-rotate(157deg) brightness(102%) contrast(96%);
		}

		&.light {
			filter: invert(95%) sepia(2%) saturate(5302%) hue-rotate(9deg) brightness(100%) contrast(106%);
		}

		&.physical {
			filter: invert(82%) sepia(30%) saturate(429%) hue-rotate(349deg) brightness(98%) contrast(98%);
		}

		&.poison {
			filter: invert(18%) sepia(94%) saturate(2915%) hue-rotate(284deg) brightness(93%) contrast(93%);;
		}
	}
}

.dice-formula {
	&.critical {
		color: #007e00;
	}

	&.fumble {
		color: #c40303;
	}
}