@import "actor-sheet";
@import "chat";

html {
	margin: 0;
	padding: 0;
}

nav.sheet-tabs {
	margin: 0;
	background: #d7ffd7;

	a.item {
		width: 100%;
		background: #fce3fc;

		&.active {
			background: #c1c1f3;
		}
	}
}

.editor-host {
	.editor {
		min-height: 50px;
		height: 100%;
		flex: auto;
	}
}
