@import "actor-sheet";
@import "chat";
@import "weapon-sheet";

.window-app .window-content {
    margin: 0;
    padding: 0;
    background: rgb(32, 33, 160);
    background: linear-gradient(180deg, rgba(32, 33, 160, 1) 0%, rgba(1, 6, 97, 1) 100%);
    color: #fcfcfc;
}

.sheet nav.sheet-tabs {
    background: rgb(32, 33, 160);
    background: linear-gradient(180deg, rgba(32, 33, 160, 1) 0%, rgba(1, 6, 97, 1) 100%);
    border: 1px solid #fcfcfc;
    border-radius: 10px;

    a.item {
        width: 100%;
        color: #fcfcfc;
        border-radius: 10px;

        &:hover {
            text-decoration: underline;
            text-shadow: none;
        }

        &.active {
            background: rgb(48, 48, 245);
            background: linear-gradient(180deg, rgba(48, 48, 245, 1) 0%, rgba(32, 33, 160, 1) 100%);
            text-decoration: underline;
            text-shadow: 0 0 8px rgba(1, 6, 97, 1);

            &:hover {
                text-shadow: none;
            }
        }
    }
}

.sheet-header,
.sheet-body {
    input[type="text"]:not(:disabled) {
        color: #fcfcfc;
        border: 1px solid #fcfcfc;
        border-radius: 5px;

        &:active,
        &:focus {
            box-shadow: none;
        }
    }

    select {
        color: #000000;
        background: #fcfcfc;

        &:active,
        &:focus {
            text-shadow: none;
            box-shadow: none;
        }
    }

    input[type="text"]:active {
        box-shadow: none;
    }

    h2,
    h3 {
        border-bottom: 1px solid #fcfcfc;
        padding-top: 8px;
    }
}

.sheet-body {
    .editor-host {
        .editor {
            min-height: 50px;
            height: 100%;
            flex: auto;
        }
    }
}
