.dialog {
    section.window-content {
        background: @main-fallback;
        background: @main-gradient;

        .dialog-content {

            p,
            h4 {
                color: @font-color;
            }

            form {
                .form-group {
                    label {
                        color: @font-color;
                    }

                    input[type="text"],
                    input::placeholder {
                        color: @font-color;
                    }

                    select {
                        color: @font-color;

                        option {
                            background: @accent-fallback;
                        }
                    }
                }
            }
        }

        .dialog-buttons button {
            color: @font-color;
            border: 1px solid @font-color;
            border-radius: 10px;

            &:hover,
            &:active,
            &:focus {
                box-shadow: none;
            }

            &:hover {
                background: @accent-fallback;
                background: @darken-gradient;
                border: 1px solid darken(@font-color, 40%);
            }
        }
    }
}

.sheet-body {
    .editor-host {
        .editor {
            min-height: 50px;
            height: 100%;
            flex: auto;

            // If this isn't done, the blue background makes the black text in the editor
            // impossible to read. Changing the font color here seems to have no effect.
            .tox .tox-edit-area__iframe {
                background: @font-color;
            }
        }
    }
}