.dialog {
    section.window-content {
        background: @main-fallback;
        background: @main-gradient;

        .dialog-buttons button {
            color: @font-color;
            border: 1px solid @font-color;
            border-radius: 10px;

            &:hover,
            &:active,
            &:focus {
                box-shadow: none;
            }

            &:hover {
                background: @accent-fallback;
                background: @darken-gradient;
                border: 1px solid darken(@font-color, 40%);
            }
        }
    }
}
