.bond-card {
  border: 1px solid #f8f8f8;
  border-radius: 10px;
  margin-bottom: 8px;
}
.bond-card p.bond-name {
  padding-left: 8px;
  font-size: 1.05rem;
  font-weight: bold;
}
.bond-card .emotions ul {
  list-style-type: none;
}
.bond-card .emotions ul li {
  text-align: center;
}
.bond-card p.bond-strength {
  text-align: center;
}
.class-card {
  border: 1px solid #f8f8f8;
  border-radius: 10px;
}
.class-card img.class-image {
  width: 60px;
  height: 60px;
  border: none;
}
.class-card p.class-name {
  font-size: 1.25rem;
  font-weight: bold;
}
.resource-card {
  margin: 8px 0;
  border: 1px solid #f8f8f8;
  border-radius: 10px;
  font-size: 1rem;
}
.resource-card .hp,
.resource-card .mp,
.resource-card .ip {
  margin: 0 auto;
  text-align: center;
}
.resource-card .hp label,
.resource-card .mp label,
.resource-card .ip label {
  margin-bottom: 8px;
}
.resource-card .hp input,
.resource-card .mp input,
.resource-card .ip input {
  margin: 0 auto;
  width: 6rem;
}
.resource-card .hp label,
.resource-card .crisis label,
.resource-card .hp input[type="text"],
.resource-card .crisis input[type="text"],
.resource-card .hp p,
.resource-card .crisis p {
  color: #fa9090;
}
.resource-card .mp label,
.resource-card .mp input,
.resource-card .mp p {
  color: #90befa;
}
.resource-card .ip label,
.resource-card .ip input,
.resource-card .ip p {
  color: #90fa90;
}
.resource-card i {
  font-size: 1.5rem;
  padding-right: 8px;
}
.weapon-card {
  border: 1px solid #f8f8f8;
  border-radius: 10px;
  margin-bottom: 8px;
}
.weapon-card .weapon-card-header {
  padding-top: 4px;
  padding-left: 8px;
}
.weapon-card .weapon-card-header img.profile-img {
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 0;
  margin-bottom: 4px;
}
.weapon-card i {
  color: #f8f8f8;
  font-size: 1rem;
}
.weapon-card i.martial {
  color: #ff0000;
}
.weapon-card .button-holder {
  margin-right: 4px;
}
.weapon-card button.fabula-button {
  border-right: none;
}
.weapon-card button.fabula-button:nth-last-child {
  border-bottom: none;
}
.weapon-card button.fabula-button.equipped {
  border-right: 1px solid #f8f8f8;
}
img.damage-type {
  border: 0;
  width: 25px;
  height: 25px;
}
.dice-formula.critical {
  color: #007e00;
}
.dice-formula.fumble {
  color: #c40303;
}
h4.dice-total .multi {
  font-size: 0.85rem;
}
.character-sheet img.profile-img {
  width: 64px;
  border: none;
}
.character-sheet h1.character-name input[type="text"] {
  color: #f8f8f8;
}
.character-sheet .fabula,
.character-sheet .experience,
.character-sheet .initiative,
.character-sheet .trait-labels {
  text-align: center;
}
.character-sheet .fabula input,
.character-sheet .experience input,
.character-sheet .initiative input {
  color: #f8f8f8;
  width: 2rem;
}
.character-sheet .attributes label,
.character-sheet .defenses label,
.character-sheet .resistances label,
.character-sheet .attributes p.defense,
.character-sheet .defenses p.defense,
.character-sheet .resistances p.defense,
.character-sheet .attributes p.mdefense,
.character-sheet .defenses p.mdefense,
.character-sheet .resistances p.mdefense {
  text-align: center;
}
.character-sheet .attributes .attr select {
  margin: 4px 8px;
}
.character-sheet .resistances {
  width: 100%;
  margin: 0 auto;
}
.character-sheet .resistances img {
  width: 30px;
  height: 30px;
  border: none;
}
.character-sheet .resistances .element-resistance {
  padding: 4px;
}
.character-sheet .tab.backpack i {
  padding-right: 8px;
}
.character-sheet .tab.backpack input {
  width: 6rem;
}
.character-sheet .tab.backpack input[name="system.zenit"],
.character-sheet .tab.backpack .currency {
  color: #ffff00;
}
.character-sheet .tab.backpack p.item-name {
  font-weight: bold;
  font-size: 1rem;
}
.weapon-sheet > .flexrow {
  padding: 2px;
}
.weapon-sheet label.label-pad-left {
  padding-left: 8px;
}
.weapon-sheet input[type="text"]:not(:disabled) {
  color: #f8f8f8;
}
.dialog section.window-content {
  background: #2021a0;
  background: linear-gradient(180deg, #2021a0 0%, #010661 100%);
}
.dialog section.window-content .dialog-buttons button {
  color: #f8f8f8;
  border: 1px solid #f8f8f8;
  border-radius: 10px;
}
.dialog section.window-content .dialog-buttons button:hover,
.dialog section.window-content .dialog-buttons button:active,
.dialog section.window-content .dialog-buttons button:focus {
  box-shadow: none;
}
.dialog section.window-content .dialog-buttons button:hover {
  background: #010661;
  background: linear-gradient(180deg, #1c1d8b 0%, #010448 100%);
  border: 1px solid #929292;
}
button.fabula-button {
  background: #010661;
  background: linear-gradient(180deg, #292aca 0%, #020993 100%);
  color: #f8f8f8;
  border: 1px solid #f8f8f8;
  border-radius: 10px;
}
button.fabula-button:active,
button.fabula-button:focus,
button.fabula-button:hover {
  box-shadow: none;
}
button.fabula-button:hover {
  border-color: #929292;
  background: #2021a0;
  background: linear-gradient(180deg, #1c1d8b 0%, #010448 100%);
}
button.fabula-button:disabled {
  cursor: not-allowed;
  background: #2021a0;
  background: linear-gradient(180deg, #1c1d8b 0%, #010448 100%);
}
button.fabula-button.item-create {
  background: #2ba020;
  background: linear-gradient(180deg, #2ba020 0%, #016101 100%);
  border-radius: 25px;
  height: 30px;
  width: 50px;
}
button.fabula-button.item-create:hover {
  background: #258b1c;
  background: linear-gradient(180deg, #258b1c 0%, #014801 100%);
}
button.fabula-button.open-compendium {
  background: #5b29cf;
  background: linear-gradient(180deg, #5b29cf 0%, #350286 100%);
  border-radius: 10px;
  width: 30px;
  height: 30px;
}
button.fabula-button.open-compendium:hover {
  background: #5225ba;
  background: linear-gradient(180deg, #5225ba 0%, #2b026d 100%);
}
.fabulaultima.sheet section.window-content {
  margin: 0;
  padding: 0;
  background: #2021a0;
  background: linear-gradient(180deg, #2021a0 0%, #010661 100%);
  color: #f8f8f8;
}
.sheet nav.sheet-tabs {
  background: #010661;
  background: linear-gradient(180deg, #2021a0 0%, #010661 100%);
  border: 1px solid #f8f8f8;
  border-radius: 10px;
}
.sheet nav.sheet-tabs a.item {
  width: 100%;
  color: #f8f8f8;
  border-radius: 10px;
}
.sheet nav.sheet-tabs a.item:hover {
  background: #010661;
  background: linear-gradient(180deg, #1c1d8b 0%, #010448 100%);
  text-decoration: underline;
  text-shadow: none;
}
.sheet nav.sheet-tabs a.item.active {
  background: #2021a0;
  background: linear-gradient(180deg, #292aca 0%, #020993 100%);
  text-decoration: underline;
  text-shadow: 0 0 8px #010661;
}
.sheet nav.sheet-tabs a.item.active:hover {
  text-shadow: none;
}
.sheet-header input[type="text"]:not(:disabled),
.sheet-body input[type="text"]:not(:disabled) {
  border: 1px solid #f8f8f8;
  border-radius: 5px;
}
.sheet-header input[type="text"]:not(:disabled):active,
.sheet-body input[type="text"]:not(:disabled):active,
.sheet-header input[type="text"]:not(:disabled):focus,
.sheet-body input[type="text"]:not(:disabled):focus {
  box-shadow: none;
}
.sheet-header input[type="text"]:disabled,
.sheet-body input[type="text"]:disabled {
  cursor: not-allowed;
}
.sheet-header select,
.sheet-body select {
  color: #000000;
  background: #f8f8f8;
}
.sheet-header select:active,
.sheet-body select:active,
.sheet-header select:focus,
.sheet-body select:focus {
  text-shadow: none;
  box-shadow: none;
}
.sheet-header input[type="text"]:active,
.sheet-body input[type="text"]:active {
  box-shadow: none;
}
.sheet-header h2,
.sheet-body h2,
.sheet-header h3,
.sheet-body h3 {
  border-bottom: 1px solid #f8f8f8;
  padding-top: 8px;
}
.sheet-body .editor-host .editor {
  min-height: 50px;
  height: 100%;
  flex: auto;
}
.sheet-body .editor-host .editor .tox .tox-edit-area__iframe {
  background: #f8f8f8;
}
