.trait-labels {
  text-align: center;
}
.sheet nav.sheet-tabs {
  margin: 0;
}
nav.sheet-tabs {
  background: #d7ffd7;
}
nav.sheet-tabs a.item {
  width: 100%;
  background: #fce3fc;
}
nav.sheet-tabs a.item.active {
  background: #c1c1f3;
}
.resources input {
  width: 2rem;
}
.resources label[for="system.hp.value"],
.resources input[name="system.hp.value"],
.resources input[name="system.hp.max"],
.resources label[for="crisis"],
.resources p.crisis,
.resources .hp {
  color: #ff0000;
}
.resources label[for="system.mp.value"],
.resources input[name="system.mp.value"],
.resources input[name="system.mp.max"],
.resources .mp {
  color: #0000ff;
}
.resources label[for="system.ip.value"],
.resources input[name="system.ip.value"],
.resources input[name="system.ip.max"],
.resources .ip {
  color: #00ff00;
}
.resources i {
  font-size: 1.5rem;
  padding-right: 8px;
}
.class-card {
  background: #fcfaf4;
  border: 1px solid #000000;
}
.tab.backpack i {
  font-size: 1.5rem;
  padding-right: 8px;
}
.tab.backpack input {
  width: 6rem;
}
.tab.backpack input[name="system.zenit"],
.tab.backpack .currency {
  color: #ffff00;
}
html {
  margin: 0;
  padding: 0;
}
