.armor-card:hover,
.accessory-card:hover {
  background: #292aca;
  background: linear-gradient(180deg, #292aca 0%, #020993 100%);
}
.armor-card p,
.accessory-card p {
  text-align: center;
}
.armor-card i.martial,
.accessory-card i.martial {
  color: #c40101;
}
.armor-card input.equipped,
.accessory-card input.equipped {
  margin: 0 auto;
}
.armor-card .item-controls,
.accessory-card .item-controls {
  text-align: center;
}
.bond-card {
  margin-bottom: 8px;
}
.bond-card p.bond-name {
  padding-left: 8px;
  font-size: 1.05rem;
  font-weight: bold;
}
.bond-card .emotions ul {
  list-style-type: none;
}
.bond-card .emotions ul li {
  text-align: center;
}
.bond-card p.bond-strength {
  text-align: center;
}
.class-card img.class-image {
  width: 60px;
  height: 60px;
  border: none;
}
.class-card p.class-name {
  font-size: 1.25rem;
  font-weight: bold;
}
.resource-card {
  margin: 8px 0;
  font-size: 1rem;
}
.resource-card .hp,
.resource-card .gp,
.resource-card .mp,
.resource-card .ip {
  margin: 0 auto;
  text-align: center;
}
.resource-card .hp label,
.resource-card .gp label,
.resource-card .mp label,
.resource-card .ip label {
  margin-bottom: 8px;
}
.resource-card .hp input,
.resource-card .gp input,
.resource-card .mp input,
.resource-card .ip input {
  margin: 0 auto;
  width: 6rem;
}
.resource-card .hp label,
.resource-card .crisis label,
.resource-card .hp input[type="text"],
.resource-card .crisis input[type="text"],
.resource-card .hp p,
.resource-card .crisis p {
  color: #BF3F3F;
}
.resource-card .mp label,
.resource-card .mp input,
.resource-card .mp p {
  color: #3FBFBF;
}
.resource-card .ip label,
.resource-card .ip input,
.resource-card .ip p {
  color: #3FBF3F;
}
.resource-card .gp label,
.resource-card .gp input,
.resource-card .gp p {
  color: #bd3ed6;
}
.resource-card i {
  font-size: 1.5rem;
  padding-right: 8px;
}
.spell-card i.fa-sparkles {
  color: #3FBFBF;
}
.weapon-card {
  margin-bottom: 8px;
}
.weapon-card .weapon-card-header {
  padding-top: 4px;
  padding-left: 8px;
}
.weapon-card .weapon-card-header img.profile-img {
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 0;
  margin-bottom: 4px;
}
.weapon-card .button-holder {
  margin-right: 4px;
}
.weapon-card button.fabula-button {
  border-right: none;
}
.weapon-card button.fabula-button:nth-last-child {
  border-bottom: none;
}
.weapon-card button.fabula-button.equipped {
  border-right: 1px solid #f8f8f8;
}
img.damage-type {
  border: 0;
  width: 25px;
  height: 25px;
}
.dice-formula.critical {
  color: #007e00;
}
.dice-formula.fumble {
  color: #c40303;
}
h4.dice-total .multi {
  font-size: 0.85rem;
}
.character-sheet i.open-compendium,
.npc-sheet i.open-compendium {
  color: #5b29cf;
  color: linear-gradient(180deg, #5b29cf 0%, #350286 100%);
}
.character-sheet i.open-compendium:hover,
.npc-sheet i.open-compendium:hover {
  cursor: pointer;
  font-size: 1.15rem;
  color: #5225ba;
  color: linear-gradient(180deg, #5225ba 0%, #2b026d 100%);
}
.character-sheet img.profile-img,
.npc-sheet img.profile-img {
  width: 64px;
  border: none;
}
.character-sheet h1.character-name input[type="text"],
.npc-sheet h1.character-name input[type="text"] {
  color: #f8f8f8;
}
.character-sheet .fabula,
.npc-sheet .fabula,
.character-sheet .experience,
.npc-sheet .experience,
.character-sheet .initiative,
.npc-sheet .initiative,
.character-sheet .trait-labels,
.npc-sheet .trait-labels {
  text-align: center;
}
.character-sheet .fabula input,
.npc-sheet .fabula input,
.character-sheet .experience input,
.npc-sheet .experience input,
.character-sheet .initiative input,
.npc-sheet .initiative input {
  color: #f8f8f8;
  width: 2rem;
}
.character-sheet .attributes label,
.npc-sheet .attributes label,
.character-sheet .defenses label,
.npc-sheet .defenses label,
.character-sheet .resistances label,
.npc-sheet .resistances label,
.character-sheet .attributes p.defense,
.npc-sheet .attributes p.defense,
.character-sheet .defenses p.defense,
.npc-sheet .defenses p.defense,
.character-sheet .resistances p.defense,
.npc-sheet .resistances p.defense,
.character-sheet .attributes p.mdefense,
.npc-sheet .attributes p.mdefense,
.character-sheet .defenses p.mdefense,
.npc-sheet .defenses p.mdefense,
.character-sheet .resistances p.mdefense,
.npc-sheet .resistances p.mdefense,
.character-sheet .attributes p.resistance-text,
.npc-sheet .attributes p.resistance-text,
.character-sheet .defenses p.resistance-text,
.npc-sheet .defenses p.resistance-text,
.character-sheet .resistances p.resistance-text,
.npc-sheet .resistances p.resistance-text {
  text-align: center;
}
.character-sheet .conditions,
.npc-sheet .conditions {
  padding: 8px 0;
}
.character-sheet .conditions img.condition-icon,
.npc-sheet .conditions img.condition-icon {
  display: block;
  margin: 0 auto;
  border: none;
  height: 40px;
  opacity: 0.35;
}
.character-sheet .conditions img.condition-icon.active,
.npc-sheet .conditions img.condition-icon.active {
  height: 50px;
  opacity: 1;
}
.character-sheet .conditions img.condition-icon.active:hover,
.npc-sheet .conditions img.condition-icon.active:hover {
  height: 48px;
  opacity: 1;
}
.character-sheet .conditions img.condition-icon:hover,
.npc-sheet .conditions img.condition-icon:hover {
  cursor: pointer;
  height: 48px;
  opacity: 0.55;
}
.character-sheet .conditions img.condition-icon.immune,
.npc-sheet .conditions img.condition-icon.immune {
  opacity: 0.1;
}
.character-sheet .conditions img.condition-icon.immune:hover,
.npc-sheet .conditions img.condition-icon.immune:hover {
  height: 40px;
  cursor: not-allowed;
}
.character-sheet .rolls label,
.npc-sheet .rolls label {
  text-align: center;
}
.character-sheet .rolls input,
.npc-sheet .rolls input,
.character-sheet .rolls select,
.npc-sheet .rolls select {
  margin-top: 4px;
}
.character-sheet .rolls input[type="text"],
.npc-sheet .rolls input[type="text"] {
  color: #f8f8f8;
}
.character-sheet .attributes .attr select,
.npc-sheet .attributes .attr select {
  margin: 4px 8px;
}
.character-sheet .attributes .resistances,
.npc-sheet .attributes .resistances {
  width: 100%;
  margin: 0 auto;
}
.character-sheet .attributes .resistances img,
.npc-sheet .attributes .resistances img {
  width: 30px;
  height: 30px;
  border: none;
}
.character-sheet .attributes .resistances .element-resistance,
.npc-sheet .attributes .resistances .element-resistance {
  padding: 4px;
}
.character-sheet .classes .martial-proficiencies,
.npc-sheet .classes .martial-proficiencies,
.character-sheet .classes .rituals,
.npc-sheet .classes .rituals {
  margin-bottom: 8px;
  text-align: center;
}
.character-sheet .classes .martial-proficiencies i,
.npc-sheet .classes .martial-proficiencies i,
.character-sheet .classes .rituals i,
.npc-sheet .classes .rituals i {
  opacity: 0.4;
}
.character-sheet .classes .martial-proficiencies i.martial,
.npc-sheet .classes .martial-proficiencies i.martial,
.character-sheet .classes .rituals i.martial,
.npc-sheet .classes .rituals i.martial,
.character-sheet .classes .martial-proficiencies i.active,
.npc-sheet .classes .martial-proficiencies i.active,
.character-sheet .classes .rituals i.active,
.npc-sheet .classes .rituals i.active {
  opacity: 1;
}
.character-sheet .classes .martial-proficiencies i.martial,
.npc-sheet .classes .martial-proficiencies i.martial,
.character-sheet .classes .rituals i.martial,
.npc-sheet .classes .rituals i.martial {
  color: #c40101;
}
.character-sheet .backpack i,
.npc-sheet .backpack i {
  padding-right: 8px;
}
.character-sheet .backpack input,
.npc-sheet .backpack input {
  width: 6rem;
}
.character-sheet .backpack input[name="system.zenit"],
.npc-sheet .backpack input[name="system.zenit"],
.character-sheet .backpack .currency,
.npc-sheet .backpack .currency {
  color: #ffff00;
  margin: 4px 0;
}
.character-sheet .backpack p.item-name,
.npc-sheet .backpack p.item-name {
  font-weight: bold;
  font-size: 1rem;
}
.character-sheet .backpack .armor .item-header,
.npc-sheet .backpack .armor .item-header {
  text-align: center;
}
.character-sheet .bio input[type="text"]:not(:disabled),
.npc-sheet .bio input[type="text"]:not(:disabled) {
  color: #f8f8f8;
}
.character-sheet .bio .bonds-start,
.npc-sheet .bio .bonds-start {
  margin-top: 8px;
}
.character-sheet .bio .pronouns input[type="text"],
.npc-sheet .bio .pronouns input[type="text"] {
  width: 30%;
  margin: 0 auto 10px auto;
}
.domains label {
  text-align: right;
  font-size: 1.25rem;
  padding-right: 4px;
}
.group-sheet .rolls label {
  text-align: center;
}
.group-sheet .rolls input,
.group-sheet .rolls select {
  margin-top: 4px;
}
.group-sheet .rolls input[type="text"] {
  color: #f8f8f8;
}
.group-sheet .group-members .header {
  border-bottom: 1px solid #f8f8f8;
  margin-bottom: 8px;
}
.group-sheet .group-members .header p {
  margin: 0;
  padding: 2px;
}
.group-sheet .group-members p {
  text-align: center;
}
.group-sheet .group-members span {
  text-align: center;
}
.npc-sheet {
  padding-top: 8px;
}
.npc-sheet label {
  color: #f8f8f8;
}
.npc-sheet label.species-label {
  padding-left: 8px;
}
.npc-sheet .hp input[type="text"]:not(:disabled) {
  color: #BF3F3F;
}
.npc-sheet .mp input[type="text"]:not(:disabled) {
  color: #3FBFBF;
}
.npc-sheet .attributes .stat-container {
  text-align: center;
}
.npc-sheet .attributes .stat-container label {
  padding-right: 4px;
}
.npc-sheet .defenses label,
.npc-sheet .defenses span,
.npc-sheet .defenses p.initiative-score {
  text-align: center;
}
.npc-sheet .conditions span {
  text-align: center;
}
.weapon-sheet > .flexrow {
  padding: 2px;
}
.dialog section.window-content {
  background: #2021a0;
  background: linear-gradient(180deg, #2021a0 0%, #010661 100%);
}
.dialog section.window-content .dialog-content p,
.dialog section.window-content .dialog-content h4 {
  color: #f8f8f8;
}
.dialog section.window-content .dialog-content form .form-group label {
  color: #f8f8f8;
}
.dialog section.window-content .dialog-content form .form-group input[type="text"],
.dialog section.window-content .dialog-content form .form-group input::placeholder {
  color: #f8f8f8;
}
.dialog section.window-content .dialog-content form .form-group select {
  color: #f8f8f8;
}
.dialog section.window-content .dialog-content form .form-group select option {
  background: #010661;
}
.dialog section.window-content .dialog-buttons button {
  color: #f8f8f8;
  border: 1px solid #f8f8f8;
  border-radius: 10px;
}
.dialog section.window-content .dialog-buttons button:hover,
.dialog section.window-content .dialog-buttons button:active,
.dialog section.window-content .dialog-buttons button:focus {
  box-shadow: none;
}
.dialog section.window-content .dialog-buttons button:hover {
  background: #010661;
  background: linear-gradient(180deg, #1c1d8b 0%, #010448 100%);
  border: 1px solid #929292;
}
.sheet-body .editor-host .editor {
  min-height: 50px;
  height: 100%;
  flex: auto;
}
.sheet-body .editor-host .editor .tox.tox-tinymce {
  height: 200px !important;
}
.sheet-body .editor-host .editor .tox .tox-edit-area__iframe {
  background: #f8f8f8;
}
button.fabula-button {
  background: #010661;
  background: linear-gradient(180deg, #292aca 0%, #020993 100%);
  color: #f8f8f8;
  border: 1px solid #f8f8f8;
  border-radius: 10px;
}
button.fabula-button:active,
button.fabula-button:focus,
button.fabula-button:hover {
  box-shadow: none;
}
button.fabula-button:hover {
  border-color: #929292;
  background: #2021a0;
  background: linear-gradient(180deg, #1c1d8b 0%, #010448 100%);
}
button.fabula-button:disabled {
  cursor: not-allowed;
  background: #2021a0;
  background: linear-gradient(180deg, #1c1d8b 0%, #010448 100%);
}
button.fabula-button.item-create {
  background: #2ba020;
  background: linear-gradient(180deg, #2ba020 0%, #016101 100%);
  border-radius: 25px;
  height: 30px;
  width: 50px;
}
button.fabula-button.item-create:hover {
  background: #258b1c;
  background: linear-gradient(180deg, #258b1c 0%, #014801 100%);
}
.fabulaultima.sheet section.window-content {
  margin: 0;
  padding: 0;
  background: #2021a0;
  background: linear-gradient(180deg, #2021a0 0%, #010661 100%);
  color: #f8f8f8;
}
.sheet nav.sheet-tabs {
  background: #010661;
  background: linear-gradient(180deg, #2021a0 0%, #010661 100%);
  border: 1px solid #f8f8f8;
  border-radius: 10px;
}
.sheet nav.sheet-tabs a.item {
  width: 100%;
  color: #f8f8f8;
  border-radius: 10px;
}
.sheet nav.sheet-tabs a.item:hover {
  background: #010661;
  background: linear-gradient(180deg, #1c1d8b 0%, #010448 100%);
  text-decoration: underline;
  text-shadow: none;
}
.sheet nav.sheet-tabs a.item.active {
  background: #2021a0;
  background: linear-gradient(180deg, #292aca 0%, #020993 100%);
  text-decoration: underline;
  text-shadow: 0 0 8px #010661;
}
.sheet nav.sheet-tabs a.item.active:hover {
  text-shadow: none;
}
.sheet-header input[type="text"]:not(:disabled),
.sheet-body input[type="text"]:not(:disabled) {
  border: 1px solid #f8f8f8;
  border-radius: 5px;
}
.sheet-header input[type="text"]:not(:disabled):active,
.sheet-body input[type="text"]:not(:disabled):active,
.sheet-header input[type="text"]:not(:disabled):focus,
.sheet-body input[type="text"]:not(:disabled):focus {
  box-shadow: none;
}
.sheet-header input[type="text"]:disabled,
.sheet-body input[type="text"]:disabled {
  cursor: not-allowed;
}
.sheet-header select,
.sheet-body select {
  color: #f8f8f8;
}
.sheet-header select option,
.sheet-body select option {
  background: #010661;
}
.sheet-header select:active,
.sheet-body select:active,
.sheet-header select:focus,
.sheet-body select:focus {
  text-shadow: none;
  box-shadow: none;
}
.sheet-header input[type="text"]:active,
.sheet-body input[type="text"]:active {
  box-shadow: none;
}
.sheet-header h2,
.sheet-body h2,
.sheet-header h3,
.sheet-body h3 {
  border-bottom: 1px solid #f8f8f8;
  padding-top: 8px;
}
.accessory-sheet input[type="text"],
.actor-sheet input[type="text"],
.arcanum-sheet input[type="text"],
.armor-sheet input[type="text"],
.bond-sheet input[type="text"],
.buff-sheet input[type="text"],
.class-sheet input[type="text"],
.consumable-sheet input[type="text"],
.group-sheet input[type="text"],
.npc-sheet input[type="text"],
.skill-sheet input[type="text"],
.spell-sheet input[type="text"],
.weapon-sheet input[type="text"],
.accessory-sheet select,
.actor-sheet select,
.arcanum-sheet select,
.armor-sheet select,
.bond-sheet select,
.buff-sheet select,
.class-sheet select,
.consumable-sheet select,
.group-sheet select,
.npc-sheet select,
.skill-sheet select,
.spell-sheet select,
.weapon-sheet select {
  margin-bottom: 8px;
}
.accessory-sheet input[type="text"]:not(:disabled),
.actor-sheet input[type="text"]:not(:disabled),
.arcanum-sheet input[type="text"]:not(:disabled),
.armor-sheet input[type="text"]:not(:disabled),
.bond-sheet input[type="text"]:not(:disabled),
.buff-sheet input[type="text"]:not(:disabled),
.class-sheet input[type="text"]:not(:disabled),
.consumable-sheet input[type="text"]:not(:disabled),
.group-sheet input[type="text"]:not(:disabled),
.npc-sheet input[type="text"]:not(:disabled),
.skill-sheet input[type="text"]:not(:disabled),
.spell-sheet input[type="text"]:not(:disabled),
.weapon-sheet input[type="text"]:not(:disabled) {
  color: #f8f8f8;
}
.accessory-sheet img.item-img,
.actor-sheet img.item-img,
.arcanum-sheet img.item-img,
.armor-sheet img.item-img,
.bond-sheet img.item-img,
.buff-sheet img.item-img,
.class-sheet img.item-img,
.consumable-sheet img.item-img,
.group-sheet img.item-img,
.npc-sheet img.item-img,
.skill-sheet img.item-img,
.spell-sheet img.item-img,
.weapon-sheet img.item-img {
  border: none;
  width: 100px;
  height: 100px;
}
.accessory-sheet label.label-pad-left,
.actor-sheet label.label-pad-left,
.arcanum-sheet label.label-pad-left,
.armor-sheet label.label-pad-left,
.bond-sheet label.label-pad-left,
.buff-sheet label.label-pad-left,
.class-sheet label.label-pad-left,
.consumable-sheet label.label-pad-left,
.group-sheet label.label-pad-left,
.npc-sheet label.label-pad-left,
.skill-sheet label.label-pad-left,
.spell-sheet label.label-pad-left,
.weapon-sheet label.label-pad-left {
  padding-left: 8px;
}
.accessory-card,
.arcana-card,
.armor-card,
.bond-card,
.class-card,
.consumable-card,
.resource-card,
.skill-card,
.spell-card,
.weapon-card {
  border: 1px solid #f8f8f8;
  border-radius: 10px;
}
.accessory-card img.item-icon,
.arcana-card img.item-icon,
.armor-card img.item-icon,
.bond-card img.item-icon,
.class-card img.item-icon,
.consumable-card img.item-icon,
.resource-card img.item-icon,
.skill-card img.item-icon,
.spell-card img.item-icon,
.weapon-card img.item-icon {
  width: 30px;
  height: 30px;
  border: none;
}
.skill-card input {
  color: #f8f8f8;
}
.skill-card,
.spell-card {
  margin-bottom: 4px;
}
.weapon-card i,
.spell-card i {
  color: #f8f8f8;
  font-size: 1rem;
}
.weapon-card i.martial,
.spell-card i.martial {
  color: #c40101;
}
.accessory-card,
.arcana-card,
.armor-card,
.consumable-card {
  border: none !important;
}
.accessory-card i.item-edit:hover,
.arcana-card i.item-edit:hover,
.armor-card i.item-edit:hover,
.consumable-card i.item-edit:hover,
.accessory-card i.item-delete:hover,
.arcana-card i.item-delete:hover,
.armor-card i.item-delete:hover,
.consumable-card i.item-delete:hover {
  cursor: pointer;
  font-size: 1.15rem;
}
