<div class="flexrow">
	<label for="system.benefits.rituals.{{name}}">{{localize (concat "FU.Rituals." name)}}</label>
	<input type="checkbox" data-dtype="Boolean" name="system.benefits.rituals.{{name}}" {{#if ritual}}checked{{/if}}/>
</div>