<select name="system.attributes.{{stat}}.base" data-dtype="Number">
    <option {{#if_eq obj.base 6}} selected {{/if_eq}}value="6">d6</option>
    <option {{#if_eq obj.base 8}} selected {{/if_eq}}value="8">d8</option>
    <option {{#if_eq obj.base 10}} selected {{/if_eq}}value="10">d10</option>
    <option {{#if_eq obj.base 12}} selected {{/if_eq}}value="12">d12</option>
</select>