<div class="class-card" style="background: #ffddcc; border: 1px solid #000000;">
    <div class="grid grid-3col">
        <div class="flexrow">
            <img src="{{class.img}}" width="60" height="60" />
            <p>{{class.name}}</p>
            <p>{{class.system.level}}</p>
            <p class="item-edit">Edit</p>
        </div>
    </div>
</div>