.group-sheet {
	.rolls {
		label {
			text-align: center;
		}

		input,
		select {
			margin-top: 4px;
		}

		input[type="text"] {
			color: @font-color;
		}
	}

	.group-members {
		.header {
			border-bottom: 1px solid @font-color;
			margin-bottom: 8px;

			p {
				margin: 0;
				padding: 2px;
			}
		}

		p {
			text-align: center;
		}

		span {
			text-align: center;
		}
	}
}